@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;

    font-weight: normal;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.flex-col {
    flex-flow: column nowrap;
}

.justify-left {
    justify-content: left;
}

.justify-between {
    justify-content: space-between;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow--auto {
    overflow: auto;
}

.cursor_pointer {
    cursor: pointer;
}

@media (hover: hover) {
    :is(label, button):hover {
        color: var(--color-hover);
    }
}

@media (min-width: 1024px) {
}
